#controlsFlyExit {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 0;
  margin-left: -5vw;
  opacity: 0.3;
  transition: opacity 0.3s ease, margin 0.3s ease;
  z-index: 100;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  > img {
    width: 10vw;
    height: 10vw;
  }

  &.active {
    margin-top: calc(-10vw - 16px);
  }
}